<body>
	{{#if (eq Env 'development')}}
	<div class="__overlay">
		<div class="__overlay-inner">
			<button class="__overlay-button">See Stats</button>
			<div class="__overlay-stats __overlay-stats-hidden">
				<h3>Stats</h3>
			</div>
		</div>
	</div>
	{{/if}}
