<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="referrer" content="same-origin" />

	{{#if Title}}
	<title>{{ Title }}</title>
	{{/if}}
	{{#if __header_content}}
	{{ __header_content }}
	{{/if}}
