*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.page {
	height: 100%;
	overflow: hidden;

	&.with-filetree {
		display: grid;
		grid-template-columns: 500px 1fr;
		gap: 10px;
	}
}

#app-overlay {
	position: fixed;
	top: 0;
	right: 0;

	& .overlay-hidden {
		display: none;
	}
}

#app-file-explorer {
	overflow-x: auto;
}
